header,section,footer,nav,aside,article,hgroup{display:block;
}

*{
	margin:0px;
	padding:0px;
	
 }
body{
	 width:100%;
	 display:-webkit-box;
	 -webkit-box-pack:center;
	 background-color:#eefffc;
	 background-image:url(pic5.jpg);
	 opacity:0.8;
}
 
#main_layout{
	 width:100%;
	 margin:0px 0px;
	 display:-webkit-box;
	 -webkit-box-orient:vertical;
	 -webkit-box-flex:1;
}	
 
 
#top_thing{
			margin-left:150px;
			margin-right:150px;
			-webkit-border-radius:5px;
			
			padding: 5px;
			text-align:center;
			 background-image:url(pic1.jpg);
			border-top: 5px solid #20189b;
			border-bottom: 5px solid #20189b;
}


h1{ font:60px Calibri;
	color:#003366;
}

h2{ font:bold 25px Calibri;
	color:#003366;
}
h3{ font: 20px Calibri;
	color:#003366;
	
}

a:link{ color:#00658f;
			text-decoration:none;
}

#nav_list{
	text-align:center;
	margin-left:145px;
	margin-right:145px;
}

li{	
		display:inline-block;
		list-style:none;
		padding-left:50px;
		padding-right:50px;
		padding-top:5px;
		padding-bottom:5px;
		margin-top:5px;
		width:100px;
		height:30px;
		color:#00658f;
		text-align:center;
		-webkit-border-radius:5px;
		background-image:url(pic2.jpg);
		border-bottom: 3px solid #5A51E6;
		font: 20px TAHOMA;
		-webkit-transition:-webkit-transform 1s;	
		
}
			
li:hover{
		-webkit-transform: scale(1.5);
		
}

#middle_content{
				margin-left:150px;
				-webkit-border-radius:5px;
				background-image:url(pic1.jpg);
				border-bottom: 5px solid #20189b;
				margin-right:150px;
				padding:10px;
				height:320px;
				margin-top:30px;
				-webkit-box-flex:  1;
}

#sm{
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	-webkit-transition:-webkit-transform 1s;	
		
}
#sm:hover{
			-webkit-transform: rotate(360deg) scale(2);	
}

#left_side{
			
			-webkit-border-radius:5px;
			background-image:url(pic1.jpg);
			border-bottom: 5px solid #20189b;
			height:200px;
			margin-right:150px;
			padding:10px;
			margin-left:150px;
			margin-top:30px;
			-webkit-box-flex:1;		
}

#bottom_thing{
			background-image:url(pic4.jpg);
			margin-left:150px;
			margin-right:150px;
			margin-top:50px;
			padding: 5px;
			text-align:center;
			-webkit-border-radius:5px;
			background-color:white;
			border-top: 5px solid #20189b;
			
}