header,section,footer,nav,aside,article,hgroup{display:block;
}

*{
	margin:0px;
	padding:0px;

 }
body{
	 width:100%;
	 display:-webkit-box;
	 -webkit-box-pack:center;
	 background-color:#eefffc;
	 background-image:url(pic5.jpg);

}

#main_layout{
	 width:100%;
	 margin:0px 0px;
	 display:-webkit-box;
	 -webkit-box-orient:vertical;
	 -webkit-box-flex:1;
}


#top_thing{

			margin-left:10%;
			margin-right:10%;
			-webkit-border-radius:5px;
			padding: 5px;
			text-align:center;
			 background-image:url(pic1.jpg);
			border-top: 5px solid #20189b;
			border-bottom: 5px solid #20189b;
}


h1{ font:60px Calibri;
	color:white;
			margin-left:10%;
			margin-right:10%;
			display:inline-block;
}

h2{ font:bold 25px Calibri;
	color:white;
}
h3{ font: 20px Calibri;
	color:white;

}

a:link{ color:white;
			text-decoration:none;
}

#nav_list{
	text-align:center;

			margin-left:10%;
			margin-right:10%;
			width:80%;
			display:inline-block;
}

li{
		display:inline-block;
		list-style:none;
		padding-left:50px;
		padding-right:50px;
		padding-top:5px;
		padding-bottom:5px;
		margin-top:5px;
		width:100px;
		height:30px;
		color:#00658f;
		text-align:center;
		-webkit-border-radius:5px;
		background-image:url(pic2.jpg);
		border-bottom: 3px solid #5A51E6;
		border-left: 3px solid #5A51E6;
		border-right: 3px solid #5A51E6;
		font: 20px TAHOMA;
		-webkit-transition:-webkit-transform 1s;

}

li:hover{
		-webkit-transform: scale(1.2);

}

#middle_content{

			margin-left:10%;
			margin-right:10%;
			width:80%;
			display:inline-block;
				-webkit-border-radius:15px;
				background-image:url(pic1.jpg);
				border: 5px solid #20189b;
				padding:10px;

				margin-top:30px;
}

#sm{
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	-webkit-transition:-webkit-transform 1s;

}
#sm:hover{
			-webkit-transform: rotate(360deg) scale(1.5);
}

#left_side{

			-webkit-border-radius:15px;
			background-image:url(pic1.jpg);
			border: 5px solid #20189b;

			margin-left:10%;
			margin-right:10%;
			width:80%;
			display:inline-block;
			padding:10px;
			margin-top:30px;
}

#bottom_thing{
			background-image:url(pic4.jpg);
			margin-left:10%;
			margin-right:10%;
			width:80%;
			display:inline-block;
			margin-top:50px;
			padding: 5px;
			text-align:center;
			-webkit-border-radius:5px;
			background-color:white;
			border-top: 5px solid #20189b;

}
